/* shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.primary-margin {
    margin: 80px 120px;
}

.primary-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.description {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    padding: 24px;
    font-weight: 700;
    color: #fff;
    border: none;
}

/* navigation bar styles */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav>ul li {
    list-style: none;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    /* color: black; */
    transition: background-color 1s linear 0.1s;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav>ul li:hover {
    background-color: #E02C6D;
    color: #fff;
}

.banner-title {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/* banner styles */
.banner-container {
    display: flex;
    height: 70vh;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
}

.banner-img-container {
    background: url(/images/Circle\ design.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-img-container img {
    width: 100%;
}

/* sponsor section styles */
.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 40px 0;
}

/* products container and cards design */
.product-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0;
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    width: 320px;
    height: 476px;
    padding: 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
}

.card-title {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
}

.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}

.review-stars {
    margin-top: 15px;
    margin-bottom: 25px;
}

.card-description {
    color: #787885;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

/* feature section styles */
.feature-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 95px;
}

.feature-title {
    color: #0A0826;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.feature-content {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
}

/* footer section styles */

footer {
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content h2 {
    color: #fff;
}

.copyright {
    color: #D9DBE1;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
}

.footer-content > p i {
    margin-right: 10px;
    margin-top: 15px;
}

@media screen and (max-width: 576px) {
    .primary-margin {
        margin: 30px 16px;
    }

    nav,
    nav>ul {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 10px;
        height: auto;
        text-align: center;
        /* padding: 30px 10px; */
    }

    .sponsor-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .sponsor-container {
        gap: 40px;
    }

    .product-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {


    nav {
        flex-direction: column;
    }

    nav>ul li {
        padding: 5px;
        margin-right: 20px;
        margin-top: 25px;
    }

    .banner-container {
        flex-direction: column;
        height: auto;
    }

    .sponsor-container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .product-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        text-align: center;
    }
}